{% extends "master_page.html" %}
{% load crispy_forms_tags %}

{% block title %}
Tools Requested
{{ block.super }}
{% endblock %}

{% block content %}
{% include 'user_profile_navbar.html' %}
    {% if messages %}
        <b class="messages">
            {% for msg in messages %}
                <div class="alert alert-{{msg.level_tag}}" role="alert">
                    {{msg.message}}
                    <a data-dismiss="alert" aria-hidden="true" class="close glyphicon glyphicon-remove"></a>
                </div>
            {% endfor %}
         </b>
    {% endif %}
    <div class="container">
        <div class="modal fade" id="return-tool" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Confirm Tool Return</h4>
                    </div>
                <div class="modal-body">
                    <p>Is the tool "<span class="toolname"></span>" returned?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary btn-ok">Confirm tool return</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <br>
        <div class="panel panel-default cols-md-8">
            <div class="panel-heading"><h4>Borrowed Tools</h4></div>
        	<div class="panel-body">
				<table class="table table-striped">
                    {% if borrowed_tools %}
                        <tr class="info">
                            <td><b>Tool</b></td>
                            <td><b>Usage start date</b></td>
                            <td><b>Return date</b></td>
                            <td><b>Action</b></td>
                        </tr>
                        {% for tool in borrowed_tools %}
                            <tr>
                                <td>{{ tool.tool.name }}</td>
                                <td>{{ tool.start_time }}</td>
                                <td>{{ tool.return_time }}</td>
                                <td>
                                    <button class="btn btn-primary btn-sm btn-ok" data-tool-name="{{ tool.tool.name }}" data-href="/tool_returned/{{ tool.tool.id }}" data-toggle="modal" data-target="#return-tool"><span class="glyphicon glyphicon-check"></span> Return tool</button>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <h3>* No tools to return. *</h3>
                    {% endif %}
				</ul>
                    </table>
        	</div>
        </div>
    </div>
    <script>
        $('#return-tool').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            $('.delete').html('<strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
            $(this).find('.btn-ok').attr('tool-name', $(e.relatedTarget).data('tool-name'));
            $('.toolname').html($(this).find('.btn-ok').attr('tool-name'));
        });
    </script>
</div>
{% endblock %}